body {
    margin: 0 20px;
}

.ng-isolate-scope > div {
    margin: 40px 0;
}

form {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

td,
th,
input {
    padding: 6px;
    border: 1px solid #ccc;
}

thead {
    background-color: gray;
}

th {
    color: white;
}

label {
    display: block;
}

input[type="submit"] {
    background-color: gray;
    color: white;
    font-weight: bold;
}

fieldset {
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 30px;
}

fieldset span {
    display: block;
    font-size: 12px;
}

legend {
    width: auto;
}

.help-block {
    color: #FF0000;
}

.uib-datepicker {
    max-width: 600px;
    margin: 0 auto;
}

.header-sec h1 {
    display: block;
    text-align: center
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
}